.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    color: white;
    position: fixed;
    top: 0;
    width: 95%;
    z-index: 1000;
    background-color: white;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: 30px;
    margin-right: 10px;
}

.advanced-search {
    font-weight: bold;
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: 10px; 
    margin-top: 60px;
    text-align: left;
}

.advanced-search h1{
    color: #d93025;
    font-size: 24px;
    font-weight: bold;
}

.nav-buttons {
    margin-left: auto;
}

.nav-buttons a {
    color: #0b57d0;
    margin: 0 15px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-buttons a:hover {
    font-weight: bold;
}

.content {
    padding-top: 60px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
}

.div-logo {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 1px;
}

.div-search {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    border-radius: 10px;
    margin-top: 1px;
}

#search-input {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

#search-input:hover {
    outline: none;
    box-shadow: 0 0 0 2px rgba(186, 186, 207, 0.726);
    border-color: #ccc;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#search-button, #feeling-lucky-button {
    border: 1px solid #ccc;
    background-color: #0b57d0;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffff;
    width: 160px;
    transition: all 0.3s ease;
    text-align: center;
    margin-top: 10px;
}

#search-button:hover, #feeling-lucky-button:hover {
    outline: none;
    box-shadow: 0 0 0 2px rgba(186, 186, 207, 0.726);
    border-color: #ccc;
}


.search-container {
    font-weight: bold;
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.search-field {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.search-field label {
    display: inline-block;
    width: 300px;
    font-weight: normal;
    color: black;
    white-space: nowrap;
    padding: 5px;
}

.search-field input {
    padding: 8px;
    width: 500px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.range input {
    width: 235px;
    box-sizing: border-box;
}

.range span {
    padding: 0 10px;
}

.submit-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#advanced-search-btn {
    background-color: #0b57d0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#advanced-search-btn:hover {
    background-color: #4d90fe;
}
